<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:wicket="http://wicket.apache.org/">
<body>

<wicket:panel>
<div class="new-ad-box">
    <div class="new-ad-main"> 
        <a href="#" wicket:id="createNewAd">A&ntilde;ade tu anuncio<br/>Es gratis<br/>Es fresco</a>
    </div>
    <div class="new-ad-info">
        <div class="slider">
            <a href="#" class="show-button">+ info</a>
            <div class="hidden">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
             non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </div>
        </div>
    </div>
</div>
</wicket:panel>

</body>
</html>
