<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
 
 
  
    <!-- ****************** SCHEDULER ********************** -->

    <!-- JOBS TO RUN BY THE SCHEDULER -->
 <!--   <bean id="metaSolvPollingTaskJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="metaSolvPollingTask" />
        <property name="targetMethod" value="execute" />
    </bean>
    -->
    <!-- TRIGGERS TO RUN BY THE SCHEDULER -->
    <!--
    <bean id="metaSolvPollingTaskTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail"
            ref="metaSolvPollingTaskJob" />
        <property name="cronExpression">
            <value>${metaSolvPollingTask.timeTable}</value>
        </property>
        <property name="name"
            value="metaSolvPollingTaskTrigger" />
        <property name="group" value="geigrac" />
    </bean>
    -->
    <!-- ADDING TRIGGERS TO THE SCHEDULER -->
    
    <!--
    <bean id="scheduler"
        class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="metaSolvPollingTaskTrigger" />
            </list>
        </property>
        <property name="autoStartup" value="true" />
    </bean>
 -->
 
</beans>
 