<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
 
	<bean name="classifiedAdExtractorJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		 <property name="jobClass" value="com.marc.lastweek.business.jobs.ClassifiedAdExtractorJob" />
	</bean>
 
	<bean id="classifiedAdExtractorJobTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
	    <property name="jobDetail" ref="classifiedAdExtractorJob" />
	    <property name="startDelay" value="1" />
	    <property name="repeatInterval" value="10000" />
	</bean>
	
	<bean id="scheduler"
	    class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	    <property name="triggers">
	        <list>
	            <ref bean="classifiedAdExtractorJobTrigger" />
	        </list>
	    </property>
	    <property name="autoStartup" value="true" />
	     <property name="applicationContextSchedulerContextKey">
            <value>applicationContext</value>
    	</property>
	</bean>
 
</beans>
 