<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:wicket="http://wicket.apache.org/">
<body>

<wicket:panel>
	<ul>
		<li wocket:id="classifiedAdsList">
			<table class="">
				<tr>
					<td>
						<span wocket:id="classifiedAdTitle"/>
					</td>
					<td><td/>
					<td>
						<span wocket:id="classifiedAdPublicationDate"/>
					</td>
				</tr>
				<tr>
					<td>
						<span wocket:id="classifiedAdImage"/>
					</td>
					<td>
						<span wocket:id="classifiedAdDescription"/>
					</td>
					<td>
						<span wocket:id="classifiedAdPrize"/>
						<a wocket:id="classifiedAdLink" href="">
							Ver detalles
						</a>
					</td>
				</tr>
			</table>
		</li>
	</ul>
    <table class="intervention-table">
        <tr>
            <td colspan="4" class="ghost-left"><strong>Actuaci&oacute;n Fantasma</strong></td>
        </tr>
        <tr>
            <td width="25%" class="label">Gestor Actuaci&oacute;n</td>
            <td width="25%" wicket:id="actionManager">XXX</td>
            <td width="25%" class="label">Fecha</td>
            <td width="25%" wicket:id="date">XXX</td>
        </tr>
        <tr>
            <td width="16%" class="label">Motivo actuaci&oacute;n</td>
            <td colspan="3" wicket:id="actionComment">XXX</td>
         </tr>
         <tr>
            <td colspan="4" class="ghost-right">
            <div class="right"><input wicket:id="interventionDetailLink" class="button" type="submit" value="Ver Detalles" /></div>
            </td>
        </tr>
    </table>

</wicket:panel>

</body>
</html>
