<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:wicket="http://wicket.apache.org/">
<body>
<wicket:panel>
	<div>
		<div class="classified-ad-details-table">
			<table class="classified-ad-details-table">
				<tr>
					<td>
						<span class="classified-ad-details-title" wicket:id="classifiedAdTitle"/>
					</td>
					<td>
						<div class="classified-ad-details-date">
							<wicket:message key="classifiedAdDetails.from"/>
							<span wicket:id="classifiedAdPublicationDate"/>
							<wicket:message key="classifiedAdDetails.days"/>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="classified-ad-details-summary">
			<div class="classified-ad-details-summary-table">
				<table>
					<tr>
						<td>
							<div class="classified-ad-details-summary-table-label" wocket:id="classifiedAdPriceLabel">
								<wicket:message key="classifiedAdDetails.price"/>
							</div>
						</td>
						<td class="classified-ad-details-summary-table-detail">
							<div class="classified-ad-details-price" >
								<span wicket:id="classifiedAdPrice"/> &euro;<br/>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="classified-ad-details-summary-table-label" wocket:id="classifiedAdProvinceLabel">
								<wicket:message key="classifiedAdDetails.province"/>
							</div>
						</td>
						<td class="classified-ad-details-summary-table-detail">
							<div class="classified-ad-details-province" wicket:id="provinceName"/> <br/>
						</td>
					</tr>
					<tr>
						<td>
							<div  class="classified-ad-details-summary-table-label"wocket:id="classifiedAdCategoryLabel">
								<wicket:message key="classifiedAdDetails.category"/>
							</div>
						</td>
						<td class="classified-ad-details-summary-table-detail">
							<div class="classified-ad-details-category">
								<span wicket:id="categoryName"/> -> <span wicket:id="subcategoryName"/> <br/>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div class="classified-ad-details-image">
<!--				<img alt="jaja" src="http://img.ebayanuncios.es/25/45/254530b3262479d18a152de4aa23628e_big.jpg"/>-->
				<img wicket:id="image"/>
			</div>
		</div>
		<div class="classified-ad-details-menu">
			<div class="classified-ad-details-description-link">
				<a wicket:id="classifiedAdDescriptionLink" href="">
					<wicket:message key="classifiedAdDetails.description"/>
				</a>
			</div>
		</div>
		<div class="classified-ad-details-description">
			<div wicket:id="classifiedAdDescription"/>
		</div>
		<div class="classified-ad-details-menu">
			<div class="classified-ad-details-contact-link"> 
				<a wicket:id="classifiedAdContactLink" href="">
					<wicket:message key="classifiedAdDetails.contact"/>
				</a>
			</div>
		</div>
		<div class="classified-ad-details-contact">
			<table>
				<tr>
					<td>
						<wicket:message key="classifiedAdDetails.user"/>:
					</td>
					<td>
						<div wicket:id="userDataName"/>
					</td>
				</tr>
				<tr>
					<td>
						<wicket:message key="classifiedAdDetails.email"/>:
					</td>
					<td>
						<div wicket:id="userDataEmail"/>
					</td>
				</tr>
				<tr>
					<td>
						<wicket:message key="classifiedAdDetails.phone"/>:
					</td>
					<td>
						<div wicket:id="userDataPhone"/>
					</td>
				</tr>
			</table>
		</div>
		<div class="classified-ad-details-links">
			<div class="classified-ad-details-source">
				<a wicket:id="classifiedAdSourceLink" href="">
					<wicket:message key="classifiedAdDetails.source"/> 
					<span wicket:id="classifiedAdSource"/> <br/>
				</a>
			</div>
			<div class="classified-ad-details-fav">
				<a wicket:id="addToFavoritesLink" href="#">A&ntilde;adir a Favoritos</a>
			</div>
			<div class="classified-ad-details-flag">
				<a wicket:id="flagClassifiedAdLink" href="">
					<span wicket:id="flagClassifiedAdSpan">
						[Marcar anuncio como inapropiado]
					</span>
				</a>
			</div>
		</div>
		<div wicket:id="fileListViewPanel"/>
	</div>
</wicket:panel>
</body>
</html>