<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:wicket="http://wicket.apache.org/">
<body>

<wicket:panel>
	<div>
		<table class="">
			<tr>
				<td colspan="2">
					<span wicket:id="classifiedAdTitle"/>
				</td>
				<td>
					<span wicket:id="classifiedAdPublicationDate"/>
				</td>
			</tr>
			<tr>
				<td>
					<!--  <span wicket:id="classifiedAdImage"/> -->
				</td>
				<td>
					<span wicket:id="classifiedAdDescription"/>
				</td>
				<td>
					<span wicket:id="classifiedAdPrice"/> <br/>
					<a wicket:id="classifiedAdSourceLink" href="">
						Ver anuncio original en <span wicket:id="classifiedAdSource"/> <br/>
					</a>
					<a wicket:id="flagClassifiedAdLink" href="">
						<span wicket:id="flagClassifiedAdSpan">
							[Marcar anuncio como inapropiado]
						</span>
					</a>
				</td>
			</tr>
		</table>
	</div>
</wicket:panel>

</body>
</html>
