body {
    font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 0px;
    background-color:#F5F5F5;
}
h1 {
font-family:verdana;
font-size:16px;
margin:0 0 4px;
}

pre {
    font-family: Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
    font-size: 12px;
    font-weight: normal;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera 4 - 6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

#header {
    background-color: #0F67A1;
    color:#FFFFFF;
    height: 48px;
}

#main {
    background-color:#FFFFFF;
}
#main-content {
    width: 950px;
    margin: auto;
    display: table;
}

#right-col {
    float:right;
    width:250px;
}

#left-box {
    float:left;
    width:700px;
}

#central-col {
    float:right;
    width:450px;
}
    
#left-col {
    float:left;
    width:250px;
}

#footer {
    border-top: 3px solid #0F67A1;
    clear:both;
    color:#292929;
    padding-top:20px;
    text-align: center;
}

#filter-parameters {
	-moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    background-color:#F0F0F0;
    margin:10px;
    padding:10px;
    border:2px solid #AAAAAA;
}

.app-name {
    width: 950px;
    margin: auto;
    padding-top:9px;
    display:block;
    padding-left: 50px;
}

.logo {
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    height:30px;
    width: 124px;
    display: block;
}

.page-title {
}

.page-title a,.page-title a:hover, .page-title a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.search-box {
    float:right;
    margin-right:50px;
    margin-top:-37px;
    color:#FFFFFF;
    position:relative;
    display:block;
    font-style:italic;
    font-size:1.2em;
    padding:2px 8px;
}

.search-input {
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    background:#FFFFFF none repeat scroll 0 0;
    border:1px solid #AAAAAA;
    color:#333333;
    height:19px;
    line-height:1;
    padding:2px 5px;
    width:150px;
    font-size:1.1em;
}

.search-box a, .search-box a:hover,.search-box a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.filter-box {
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    background-color:#F0F0F0;
    padding:20px;
    margin:10px;
}

.filter-box a,.filter-box  a:hover {
    color:#696969;
    text-decoration: none;
}

.left-column {
	display: block;
}
    
.parallel-column {
    margin-left:133px;
    margin-top:-20px;
}

.classified-ads-list {
    padding:20px;
}

.classified-ad-summary {
    border-bottom:1px dashed #696969;
}

.classified-ad-summary table{
    width: 100%;
}

.filter-item {
	display: inline;
}

.filter-value {
	font-weight: bold;
	font-size: 1.1em;
}

.filter-delete {
	-moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    width: 19px;
    height: 19px;
    display: inline-block;
    background-color: #696969;
    text-align:center;
}

.filter-delete a, .filter-delete a:hover, .filter-delete a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.new-ad-box {
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    background-color: #95CBE9;
    text-align: center; 
    color: #0F67A1;
    margin: 10px;
    padding:10px;
}

.new-ad-box a, .new-ad-box a:hover, .new-ad-box a:visited{
    text-decoration: none;
    font-size: 2.0em;
    font-weight: bold;
    color: #0F67A1;
}

.map {
    background:transparent url(../images/mapa.gif) no-repeat scroll 0 0;
    height:358px;
    margin:25px auto 0;
    width:418px;
}

/* override of the default attributes */
ul,ol {
    padding: 0px;
    margin: 0px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}


img {
    border: 0px;
}

fieldset table th {
	font-size:11px;
	font-weight:normal;
	padding-right:15px;
	padding-top:7px;
	text-align:right;
	white-space:nowrap;
}

fieldset table td {
	font-size:11px;
	padding-bottom:5px;
}
td, th {
	font-family:verdana;
	vertical-align:top;
}
