<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:wicket="http://wicket.apache.org/">
<body>
<wicket:panel>

	<form wicket:id="captchaForm">
            <p>
                <img wicket:id="captchaImage" />
            </p>
            <p>
                Escribe el texto de la imagen
                <br />
                <input wicket:id="password" id="password" type="text" size="40" />
                <input type="submit" value="submit" />
            </p>
        </form>
        
</wicket:panel>


</body>
</html>