            <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:wicket="http://wicket.apache.org/" xmlns:fb="http://www.facebook.com/2008/fbml">
<body>

<wicket:panel>
<fb:profile-pic uid='loggedinuser' facebook-logo='true' size="square"></fb:profile-pic>
<div class="facebook-connect-message">
Hola <fb:name uid='loggedinuser' firstnameonly='true' useyou='false'></fb:name><br/>
<small><a wicket:id="facebookLogoutLink" href="#">Salir</a> de Facebook</small>
</div> 
</wicket:panel>

</body>
</html>