<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:wicket="http://wicket.apache.org/">
<body>

<wicket:panel>
    <div class="map-container">
        <div class="map">
            <img usemap="#spain_map" alt="" src="/img/transparent_1024.gif"/>   
             <map name="spain_map" id="spain_map">
                <area wicket:id="cournaLink" coords="21,47,16,51,15,49,15,47,18,43,17,42,15,43,13,43,13,41,13,39,14,38,13,37,10,38,8,38,8,37,10,29,11,27,13,26,17,26,19,24,20,22,22,21,24,22,27,23,33,21,36,21,38,22,40,21,40,18,38,18,37,18,38,15,43,11,44,9,46,8,50,6,51,8,53,8,54,7,54,13,54,16,54,17,53,18,50,19,49,21,47,26,47,37,45,42,40,41,35,41,34,43,32,43,28,44,23,45,21,49,21,47,21,47" title="La Coruña/A Coruña" href="#" alt="La Coruña/A Coruña" shape="poly""/>
             </map>
        </div>
    </div>
</wicket:panel>

</body>
</html>
